{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "spread": true
        }
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        // Style
        "indent": ["error", 4],
        "quotes": [2, "double"],
        "comma-dangle": ["error", "never"],
        "no-param-reassign": 0,
        "no-shadow": ["warn"],
        "max-len": ["error", 200],
        // Possible errors
        "no-cond-assign": [2],
        "no-console": [0],
        "no-constant-condition": [2],
        "no-control-regex": [2],
        "no-debugger": [2],
        "no-dupe-args": [2],
        "no-dupe-keys": [2],
        "no-duplicate-case": [2],
        "no-empty-character-class": [2],
        "no-empty": [2],
        "no-ex-assign": [2],
        "no-extra-boolean-cast": [2],
        "no-extra-parens": [0],
        "no-extra-semi": [2],
        "no-func-assign": [2],
        "no-inner-declarations": [2],
        "no-invalid-regexp": [2],
        "no-irregular-whitespace": [2],
        "no-obj-calls": [2],
        "no-prototype-builtins": [0],
        "no-regex-spaces": [2],
        "no-sparse-arrays": [2],
        "no-template-curly-in-string": [0],
        "no-unexpected-multiline": [2],
        "no-unreachable": [2],
        "no-unsafe-finally": [2],
        "no-unsafe-negation": [0],
        "use-isnan": [2],
        "valid-jsdoc": [0],
        "valid-typeof": [2],
        // Node.js and CommonJS
        "callback-return": [0],
        "global-require": [0],
        "handle-callback-err": [2],
        "import/prefer-default-export": [0],
        "no-mixed-requires": [0],
        "no-new-require": [2],
        "no-path-concat": [2],
        "no-plusplus": [0],
        "no-process-env": [0],
        "no-process-exit": [0],
        "no-restricted-modules": [0],
        "no-restricted-properties": [0],
        "no-sync": [0],
        // es6
        "arrow-body-style": [0],
        "arrow-parens": [2, "as-needed"],
        "arrow-spacing": [2],
        "constructor-super": [2],
        "generator-star-spacing": [2],
        "no-class-assign": [2],
        "no-confusing-arrow": [2, { "allowParens": true }],
        "no-const-assign": [2],
        "no-dupe-class-members": [2],
        "no-duplicate-imports": [2],
        "no-new-symbol": [2],
        "no-restricted-imports": [0],
        "no-this-before-super": [2],
        "no-useless-computed-key": [2],
        "no-useless-constructor": [2],
        "no-useless-rename": [2],
        "no-var": [0],
        "prefer-arrow-callback": [2],
        "prefer-const": [2],
        "prefer-numeric-literals": [0],
        "prefer-reflect": [0],
        "prefer-rest-params": [0],
        "prefer-spread": [0],
        "prefer-template": [2],
        "require-yield": [2],
        "rest-spread-spacing": [2],
        "sort-imports": [0],
        "symbol-description": [0],
        "template-curly-spacing": [2],
        "yield-star-spacing": [2]
    }
}
